:root{
    --accent:#6c5ce7;
    --accent-2:#00b894;
    --muted:#6b7280;
}
/* Hero Section */
.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    background:linear-gradient(
        135deg,
        #f8f9ff,
        #eef2ff
    );
    padding:80px 0;
}

/* Profile Image */
 .profile-img{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 20%;

}

.profile-img:hover{
    transform:
        translateY(-10px)
        scale(1.05);

    box-shadow:
        0 0 0 12px rgba(108,92,231,0.25),
        0 25px 45px rgba(0,0,0,0.20);
}

/* Buttons */
.btn{
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-3px);
}

/* Cards */
.card{
    border:none;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

/* Section Headings */
h2{
    font-weight:700;
    color:#6c5ce7;
}

/* Mobile */
@media(max-width:768px){

    .hero{
        text-align:center;
        padding-top:120px;
    }

    .profile-img{
        width:220px;
        height:220px;
        margin-top:20px;
    }

    .display-4{
        font-size:2rem;
    }
}

/* Large Screens */
@media(min-width:1200px){

    .profile-img{
        width:350px;
        height:350px;
    }
}
